
<div class="container">
	<div class="row">
	  <div class="col-md-6">
			<h1>OLX</h1>
			<% if @list_result %>
			  <ul>
			    <% @list_result.each do |res| %>
			      <li>
			      		<%= res.titulo %>
			      	-
			      		<a href="<%= res.descricao %>" target="_blank">link</a>
			      		<!-- <img onmouseover="bigImg(this)"  border="0" src="<%= res.image %>" alt="Smiley" width="32" height="32"> -->
						<a href="<%= res.image %>"
  						onmouseover="document.getElementById('place-holder-1').src='<%= res.image %>';"
  						onmouseout="document.getElementById('place-holder-1').src='/theme/img/linkpeek-transparent-pixel-placeholder.png';">
  						
  						<img src="/theme/img/linkpeek-transparent-pixel-placeholder.png" id="place-holder-1" style="zindex: 100; position: absolute;" />
						</a>




			      </li>
			    <% end %>
			  </ul>
			<% end %>
		</div>
	<!--  <div class="col-md-6">
	  	<h1>Custo Justo</h1>
	  		<% if @list_result_cj %>
			  <ul>
			    <% @list_result_cj.each do |res| %>
			      <li><%= res %></li>
			    <% end %>
			  </ul>
			<% end %>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-6">
				<h1>OLX carros até 2500</h1>
				<% if @list_result_cars_olx %>
				  <ul>
				    <% @list_result_cars_olx.each do |res1| %>
				      <li><%= res1 %></li>
				    <% end %>
				  </ul>
				<% end %>
			</div>  -->
	</div>

</div>

