<div class="center">
  <div class="row">
    <% j=0 %>

     
      Ultima actualização: <%= Time.now.in_time_zone("Portugal") %>
      <br>


    <% @searches.each do |search| %>
      <div class="col-xs-6">
          

         <!-- <%= search.site %> -->
          <div class="caption">

           <!-- <p><%= search.url %></p> -->
            <% 
            @list = say_hello(search.url)
            %>
            <ul class="list-unstyled">

           <% if !@list.nil?  %>   
           <% i=0 %>
            <% @list.each do |res| %>

            <% if(i == 0)  %>

              <img src='<%= res.site_img %>' height="42" width="42">
          
              <h4><%= search.title %></h4>
              <strong><%= search.description %></strong>
          
              <h4><%= res.link %></h4>
            <% end %>     
            

            <li>
              
              <a class="btn-link" href="<%= res.descricao %>" target="_blank"
                onmouseover="document.getElementById('place-holder<%= j %>-<%= i %>').src='<%= res.image %>';"
                onmouseout="document.getElementById('place-holder<%= j %>-<%= i %>').src='https://db.tt/y12wpr6O';">
                <%= res.titulo %>
                <img src="https://db.tt/y12wpr6O" id="place-holder<%= j %>-<%= i %>" style="zindex: 100; position: absolute;"/>
              </a>

              <%= res.preco %> -
              <%= res.data %>
              <%  i += 1 %>
              <%  j += 1 %>
            </li>
            <% end %>
          <% end %>
        </ul>


        </div>

        <%= link_to 'Show', search %></td>
        <%= link_to 'Edit', edit_search_path(search) %>
        <%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %>

        <br>
        <br>
        
      </div>
      
    <% end %>
    <br>
      <br>
      <br>
      <br>
  </div>
</div>
<br>


<%= link_to 'New Search', new_search_path %>
